* {
    font-family: "roboto";
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
    color: white;
    margin: 0;
}

/* Navbar */

.navigation {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight:bolder;
    color: #f9faf8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

/* Banner & Sign-up */

.banner {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 64px 64px;;
}

.info-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.info-container p {
    font-size: 18px;
    color: #a3a3a3;
    max-width: 500px;
}

.signup {
    padding: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border: 1px solid #1f2937;
    border-radius: 8px;
    color: white;
}

.info-container {
    text-align: left;
    padding-right: 64px;
}


/* Cards */

.random_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 128px;
    flex-basis: 50%;
    gap: 66px;
}


.card {
    border: #3882f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.card p {
    color: #1f2937;
}
/* Testimonials */

.testimonials {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.testimonials p {
    color: #1f2937;
    font-size: 36px;
    font-weight: initial;
    padding: 12px 128px 0px 128px;
}

.testimonials h3 {
    display: flex;
    justify-content: flex-end;
    padding-right: 160px;
    margin-top: 0;
}

/* Call To Action */

.signup-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
}
.call {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 12px 48px;
    border-radius: 8px;
}

.call button {
    background-color: #3882f6;
    border: 2px solid white;
    width: 120px;
    height: 30px;
    border-radius: 8px;
}

.action {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.call > * {
    color: white;
}

/* Footer */ 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}